<div class="col-sm-5">
    <h2 class="fg-header">You Found Luckenbach!</h2>
    <br>
    <div class="card mb-3 bg-farm fg-farm">
        <div class="card-title text-center" style="background-color:rgba(30, 130, 76, 1); color:white;">LUCKENBACH</div>
        <div class="card-body">
            Population: 3<br>
            Music Link:<br>
            <a class="fg-farm" style="text-decoration: underline;"
               href="https://open.spotify.com/embed/track/4WScDSwAa9m48pgHugVkCo?utm_source=generator"
               target="popup"
               onclick="window.open('https://open.spotify.com/embed/track/4WScDSwAa9m48pgHugVkCo?utm_source=generator','popup','width=500,height=300'); return false;">
                Waylon Jennings - Luckenbach, Texas (Back to the Basics of Love)</a>
        </div>
    </div>
</div>