<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content bg-farm fg-farm">
            <br>
            <h1 class="fg-header text-center">Welcome</h1>
            <div class="modal-body text-center">
                Enjoy this four acre corn-maze in the shape of Texas.<br>
                Can you find the 17 cities in the maze and get out?
                <br>
                <br>
                <pre style="font-size: 9px; line-height: 1;"><code
                        style="background-color: white;">{{ empty_room }}</code></pre>
            </div>
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-12">
                        <button class="btn btn-default bg-button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>